.pop-container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 350px;
  height: 470px;
  background-color: #181b16;
  background-size: 520px;
  border-radius: 70px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;

  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.popup input {
  padding: 2px;
  margin-top: 9.5px;
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;

  padding: 10px 0;
  background: #4c4e4b;
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup p {
  font-size: 20px;
  color: white;
  margin: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.popup input {
  text-align: center;
}
.popup label {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  color: white;
}
